{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Venue Section -->
<section id="venue">
    <div class="container-fluid">
        <div class="section-header">
            <br>
            <h2>Event Venue</h2>
            <p>Event venue location info and gallery</p>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 venue-map">
                <!-- Use the Google Maps URL from the model -->
                <iframe src="{{ venue.google_maps_url }}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6 venue-info">
                <div class="row justify-content-center">
                    <div class="col-11 col-lg-8">
                        <h3>{{ venue.name }}</h3>
                        <p>{{ venue.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
